---
import ProductColor from "../../components/ProductColor.astro";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const url = "https://vkhdcigyohcrlzpxczlj.supabase.co/rest/v1/baretable";
const key = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZraGRjaWd5b2hjcmx6cHhjemxqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDQzNTU3NDQsImV4cCI6MjA1OTkzMTc0NH0.sSrGlLldiezgYIBy7NneE8l6q3d53yB7OIt3E3CoETw";

  const options = {
    headers: {
      apikey: key,
    },
  };

  const request = await fetch(url, options);
  const data = await request.json();

  return data.map((item) => {
    return {
      params: { product: item.slug },
      props: { item },
    };
  });
}
const { item } = Astro.props;
---

<Layout title={`${item.product}`}>
  <div class="gridcontainer">
    <div class="images">
      {
        item.more_images.map((image) => {
          return <img src=`${image}` alt="Product image"/>
        })
      }
    </div>

    <div>
      <div class="heleteksten">
        <h1>{item.product}</h1>
        <p class="pris">{item.price} kr</p>
        <p class="farve"><strong>Farve:</strong></p>

        <div class="colors">
          {
            item.colors.map((color) => (
              <ProductColor color={color} />
            ))
          }
        </div>

        <div class="size-container">
          {
            Object.entries(item.sizes)
              .filter(([_, value]) => value === "true")
              .map(([size]) => (
                <p class="size-box">{size.toUpperCase()}</p>
              ))
          }
        </div>
        

        <p class="choose-box">Vælg muligheder</p>

        <h2>Beskrivelse</h2>
        <p>{item.description}</p>

        <ul class="tag-list">
          {
            item.tags.map((tag) => (
              <li class="tag">{tag}</li>
            ))
          }
        </ul>
        

        <h2>Detaljer</h2>
        <p><strong>Indpakning:</strong> Enkeltindpakningen er lavet af 100% genbrugsplast.</p>
        <p><strong>Vægt:</strong> 240 g/m2</p>
        <p><strong>Materiale:</strong> 100% økologisk bomuld</p>
        <p><strong>Fit:</strong> Box fit (Oversized)</p>
        <p><strong>Vaskeanvisninger:</strong> Maskinvask ved 30 grader (kold vask), undgå tørretumbling.</p>

        <h2>Fragt og retur</h2>
        <p>Fri fragt til GLS pakkeshop pakkeboks ved køb over 499 kr.
          GLS hjemmelevering koster 25 kr.
          Erhvervslevering via GLS (25 kr).

          Alle ordrer sendes inden for 24 timer på hverdage.

          1-3 hverdages levering.

          Der er udvidet returret på 30 dage. Læs mere
          her</p>
      </div>
    </div>
  </div>
</Layout>



<style>
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
h2 {
  margin-bottom: 1rem;
  margin-top: 4rem;
}
ul {
  margin-top: 1rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
}

.size-container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.size-box {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 2rem;
}

.choose-box {
  width: fit-content;
  padding: 10px 80px;
  border: 1px solid black;
  cursor: pointer;
  margin: 70px auto;
  font-size: 2rem;
}
.heleteksten {
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
}
.pris {
  font-size: 1.7rem;
  margin-top: 1rem;
}
@media (min-width: 800px) {
  .gridcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
.colors{
  display: flex;
  gap: 10px;
  margin-top: 0.5rem;
  cursor: pointer;
  

}
.farve{
  margin-top: 2rem;
}
.images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    margin-bottom: 1rem;
  }
  
</style>
